
/* SECTION */


/* PREFILE */

section .container-profile{
    display: flex;
    flex-direction: column;
}


section .container-profile .image{
    width: 300px;
    height: 300px;
    border: 4px solid rgb(96, 108, 219);
    margin: 0 auto;
}

section .container-profile .profile{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

section .container-profile .profile .text{
    font-size: 20px;
    color: rgb(96, 108, 219);
    width: 1000px;
}



/* EXPERIENCE */

section .container-experience{
    background-color: rgb(3, 3, 54);
}

section .container-experience .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

section .container-experience .row .icon{
    width: 120px;
    height: 120px;
    margin: 20px;
}

section .container-experience .row .icon p{
    text-align: center;
    margin: 50px 0 -50px 0;
}



/* PROYECTS */

section .container-proyects{
    display: flex;
    justify-content: center;
}

section .container-proyects .btn{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;
    border: 4px solid rgb(96, 108, 219);
    background-color: rgb(3, 3, 54);
    margin: auto 0;
    cursor: pointer;
}

section .container-1{
    display: flex;
    flex-wrap: wrap;
    width: 925px;
}

section .container-1 .container-2{
    border: 4px solid rgb(96, 108, 219);
    text-align: center;
    background-color: rgb(3, 3, 54);
}

section .container-1 .container-2 .image{
    height: 300px;
    width: 300px;
    background-color: rgb(2, 2, 95);
}

section .container-1 .container-2 div p{
    padding: 10px 0;
}

section .container-1 .container-2 button{
    border-radius: 20px;
    border: 4px solid rgb(96, 108, 219);
    background-color: rgb(3, 3, 54);
    padding: 10px;
    font-size: 12px;
    margin: 15px 0;
}

section .container-1 .container-2 p{
    font-size: 20px;
}




/* FORM */

.container-form{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.container-form form{
    text-align: justify;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(96, 108, 219);
    text-align: justify;    
}

input, textarea{
    padding: 5px;
    width: 500px;
    border: none;
    background-color: rgb(56, 56, 231);
    resize: none;
    outline: none;
    color: aqua;
}

input, textarea:active{
    border: none;
}



@media screen and (max-width: 425px){

    /* PROYECTOS */

    section .container-1{
        width: 195px;
    }

    section .container-1 .image{
        height: 140px;
        width: 140px;
    }

    /* FORM */

    input, textarea{
        padding: 5px;
        width: 280px;
    }
}