*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    list-style: none;
    text-decoration: none;
    color: rgb(96, 108, 219);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(2, 2, 95);
}

section .tittle{
    text-align: center;
    margin: 200px 60px 100px 60px;
    padding-bottom: 10px;
    border-bottom: 7px solid rgb(12, 12, 66);
    font-size: 25px;
}